<head>
</head>

<h2>Bill Splitter:<span class="lead"> An App for Group Expenses</span></h2>
<span class="lead">Use Bill Splitter right away. No account necessary!</span>
<br>
<br>
<h3>Add a Bill <span class="lead"> or <button class="btn btn-danger" data-toggle="modal" data-target="#payAFriend"> Pay A Friend </button></span></h3>

<form id="new-bill-form" action="<%= bills_url %>" method="post">
	<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

	<input type="text" id="bill-name" name="bill[name]" value="<%= @bill.name %>" placeholder="Bill Name">
	<a href="#" data-placement="right" rel="tooltip" title="What was the bill for? For example: dinner, movies, rent"><button class="btn tooltip-info">?</button></a> <span id="bill-name-errors" class="form-errors alert alert-danger"></span>
	<br>

	<textarea id="bill-description" name="bill[description]" value="<%= @bill.description %>" placeholder="Bill Description (optional)" rows="2"></textarea>
	<a href="#" data-placement="right" rel="tooltip" title="Any notes about this bill? For example: 'Bill did not have an appetizer.' (This step is optional.)"><button class="btn tooltip-info">?</button></a>
	<br>

	<input type="number" id="bill-amount" name="bill[amount]" value="<%= @bill.amount %>" placeholder="Amount">
	<a href="#" data-placement="right" rel="tooltip" title="Enter the total bill amount."><button class="btn tooltip-info">?</button></a> <span id="bill-amount-errors" class="form-errors alert alert-danger"></span>
	<br>

	<br>
	<button class="btn btn-info" id="split-evenly">Split Evenly</button><a href="#" data-placement="right" rel="tooltip" title="Each person on this bill will owe the same amount."><button class="btn tooltip-info">?</button></a>
	<button class="btn btn-info" id="split-exact-amounts">Split by Exact Amounts</button><a href="#" data-placement="right" rel="tooltip" title="You will input what each person owes."><button class="btn tooltip-info">?</button></a>
	<br>

	<br>
	<div id="guests-on-bill"></div>
	<br>
</form>

<div id="form-submit-messages"></div>
<br>
<br>

<div class="modal fade" id="payAFriend" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Pay A Friend</h4>
      </div>
      <div class="modal-body">
      	<p><a href="/debts/new"><button class="btn btn-success"> Record a Cash Payment </button></a></p>
      	<p><a href="/"><button class="btn btn-danger"> Send Monday via PayPal </button></a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->